@model Business.DataTransferObjects.BookDto

@{
    ViewData["Title"] = "Create Book";
}

<form asp-action="Create" autocomplete="off" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Book</h2>
            <hr/>
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="AuthorId"></label>
            <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.Authors">
                <option value="">-- Select Author --</option>
            </select>
            <span asp-validation-for="AuthorId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="UnitPriceText"></label>
            <input asp-for="UnitPriceText" class="form-control"/>
            <span asp-validation-for="UnitPriceText" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="StockAmount"></label>
            <input asp-for="StockAmount" class="form-control" min="0" max="5000"/>
            <span asp-validation-for="StockAmount" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Publisher"></label>
            <input asp-for="Publisher" class="form-control"/>
            <span asp-validation-for="Publisher" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Page"></label>
            <input asp-for="Page" class="form-control"/>
            <span asp-validation-for="Page" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PublicationDateText"></label>
            <input asp-for="PublicationDateText" class="form-control datePicker"/>
            <span asp-validation-for="PublicationDateText" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" rows="9"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="FilePath"></label>
            <input type="file" name="file" accept="@AppSettings.AcceptedImageExtensions"/>
        </div>
        <button type="submit" class="btn btn-success" style="width: 150px">Save</button>
        <a asp-controller="Books" asp-action="Index" class="btn btn-secondary" style="width: 150px">Back to List</a>
    </div> 
</form>

@section Scripts
{
    <link rel="stylesheet" href="~/lib/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
    <script src="~/lib/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(function() {
            $(".datePicker").datepicker({
                clearBtn: true, 
                calendarWeeks: true, 
                autoclose: true, 
                todayHighlight: true,
                startDate : new Date()
            });
        });
    </script>
}