@model List<AuthorDto>

<div class="card">
    <div class="card-header">
        <h5>Authors</h5>
    </div>
    <div class="card-body">
        <div class="list-group">
        @foreach (var author in Model)
        {
            <a asp-controller="Books" asp-action="Index" asp-route-authorId="@author.Id" style="text-decoration: none">@author.FullNameDisplay</a>
        }
        </div>
    </div>
    @* <div class="list-group"> *@
    @*     <ul class="list-group list-group-numbered"> *@
    @*         @foreach (var author in Model) *@
    @*         { *@
    @*             <li class="list-group-item d-flex justify-content-between align-items-start"> *@
    @*                 <div class="ms-2 me-auto"> *@
    @*                     <div class="fw-bold"> *@
    @*                         <a asp-controller="Books" asp-action="Index" asp-route-authorId="@author.Id" style="text-decoration: none">@author.FullNameDisplay</a> *@
    @*                     </div> *@
    @*                 </div> *@
    @*                 $1$ <span class="badge bg-warning rounded-pill"> #1# *@
    @*                 $1$     $2$ @{ #2# #1# *@
    @*                 $1$     $2$     int writtenBookNumber = Model.Count(x => x.Id == author.Book.AuthorId); #2# #1# *@
    @*                 $1$     $2$ } #2# #1# *@
    @*                 $1$     var writtenBookNumber = 0; #1# *@
    @*                 $1$ </span> #1# *@
    @*             </li> *@
    @*         } *@
    @*     </ul> *@
    @* </div> *@
</div>

